html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
}

nav, .pre-nav {
    background: linear-gradient(90deg, #000000, gray);
}

.pre-nav {
    height: 125px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    height: 115px;
    align-self: center;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 4px 2px -2px gray;
    padding: 0;
    margin: 0;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.text-logo {
    font: 20px 'Roboto Slab', serif;
    align-self: center;
    padding-left: 10px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}

.navigation-bar {
    padding: 0;
    margin: 0;
    width: 40%;
    min-height: 8vh;
    height: 8vh;
    overflow: hidden;
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation-item {
    display: flex;
    align-items: center;
    float: left;
}

.navigation-item a{
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font: 16px "lato", sans-serif;
    text-decoration: none;
    color: white;
    transition: 1.5s;
    text-align: center;
}

.navigation-item:hover {
    transition: 0.5s;
    background-color: #FFFFFF85;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#home {
    padding: 5px;
    padding-top: 8vh;
    margin: 0;
    background: url("../assets/images/home_bg.jpg") center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0px 0px 30px 30px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding-left: 10px;
    border-left: rgb(0, 158, 255) 8px solid;
    transition: 0.5s;
}

#about {
    background: white;
    padding: 54px 5px 54px 5px;
    margin: auto;
    max-width: 80%;
    height: calc(100vh - 108px);
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-illustration {
    position: relative;
    transition: 0.5s;
    width: 35vw;
    height: 35vw;
}

.about-color, .about-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32vw;
    height: 32vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;
}

.about-color {
    background-color: gray;
    margin: 3vw 0vw 0vw 3vw;
    z-index: 1;
}

.about-image {
    z-index: 2;
}

.about-text {
    width: 25vw;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 5vh;
    border-left: rgb(0, 158, 255) 8px solid;
    width: 30vw;
}

.about-content {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightgray;
    padding: 54px 10vw 54px 10vw;
    margin: auto;
}

.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    width: 35vw;
    height: 50vh;
    margin: 0px 20px 30px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px;
}

.img-flipcards {
    background: url("../assets/images/02.png");
    background-position: center center;
}

.img-dencrypt {
    background: url("../assets/images/03.png");
    background-position: left center;
}

.img-coffemachine {
    background: url("../assets/images/04.png");
    background-position: left center;
}

.img-flipcards, .img-dencrypt, .img-coffemachine {
    width: 32vw;
    height: 36vh;
    align-self: center;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.open-window {
	background-color: rgb(0, 158, 255);
	font-family: "montserrat";
	font-size: 20px;
    font-weight: 1000;
	color:#fff;
	position:relative;
	padding:10px 20px;
    margin: 10px 5% 20px 5%;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(62,51,46) 0%, rgb(101,86,78) 100%);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #322620, 0px 10px 5px #999;
    transition: 0.5s;
}

.open-window:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,51,46) 100%, rgb(101,86,78) 0%);
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}

.open-window::before {
	background-color:#322620;
	background-image:url(../assets/images/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	border-radius: 50%;
	box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
}

.open-window:active::before {
	top:50%;
	margin-top:-12px;
	box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.open-window:hover {
    background-color: rgb(0, 106, 172);
    transition: 0.5s;
}

.visible {
    display: unset !important;
}

.modal-open {
    overflow-y: hidden;
}

.window {
    display: none;
    z-index: 5;
}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
    z-index: 5;
}

.window-content {
    background-color: white;
    width: 80vw;
    height: 70vh;
    position: relative;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 5vh;
    margin-left: 5vh
}

.close-window {
    margin: 1.5vh 4vh 1.5vh 1.5vh;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 5vh;
    font-weight: bold;
    transition: 0.5s;
}

.close-window:hover {
    color: red;
    transition: 0.5s;
}

.window-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    height: 15%;
}

.window-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.vid-popup {
    width: 50%;
    padding: 3%;
}

.text-popup {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    padding: 3%;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

#contact {
    padding: 54px 10vw 54px 10vw;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#email {
    font-family: 'Raleway', sans-serif;
}

#social {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}

footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-flow: column;
    background: linear-gradient(90deg, #000000, gray);
    padding: 25px 0px 25px 0px;
}

#footer {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 1000;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.social-network {
    width: 40px;
    height: 40px;
    margin: 15px;
}

@media screen and (max-width: 1280px) {
    .navigation-bar {
        width: 50%;
    }

    .portfolio-item {
        width: 45vw;
    }

    .img-flipcards, .img-dencrypt, .img-coffemachine {
        width: 41vw;
    }
}

@media screen and (max-width: 1024px) {
    .navigation-bar {
        width: 70%;
    }

    .portfolio-item {
        width: 50vw;
    }

    .img-flipcards, .img-dencrypt, .img-coffemachine {
        width: 46vw;
    }
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
        cursor: pointer;
    }

    .navigation-bar {
        position: fixed;
        right: 0px;
        height: 100vh;
        background: linear-gradient(90deg, rgb(64, 64, 64), gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navigation-item {
        opacity: 0;
    }

    #home {
        background-attachment: initial;
    }

    .portfolio-item {
        width: 80vw;
    }

    .img-flipcards, .img-dencrypt, .img-coffemachine {
        width: 76vw;
    }

    #home {
        padding: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #about {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .about-text {
        width: 75vw;
    }

    h2 {
        width: 80vw;
    }

    .about-illustration {
        width: 50vw;
        height: 50vw;
    }

    .about-color, .about-image {
        width: 47vw;
        height: 47vw;
    }

    .window-content {
        width: 90%;
        height: 90%;
    }

    .window-body {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding: 0% 5% 0% 5%;
    }

    .vid-popup {
        width: 90%;
        margin: 0;
    }

    .title {
        font-size: 4vh;
        padding: 3%;
    }
}

@media screen and (max-width: 600px) {
    .portfolio-item {
        width: 90vw;
    }

    .img-flipcards, .img-dencrypt, .img-coffemachine {
        width: 86vw;
    }
}

.navigation-active {
    transform: translateX(0%);
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}